    .Autobots{
        color: red;
        text-align: center;
        font-size: 30px;
    }

    .Decpticon{
        color:purple;
        text-align: center;
        font-size: 30px;
    }

    .Terrorcon{
        color: goldenrod;
        text-align: center;
        font-size: 30px;
    }